<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" type="text/css">

  <title>
    <%= title %>
  </title>
</head>

<body>

  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-yellow border-bottom">
      <div class="container-fluid">
        <a class="nav-link " href="/">
          <i class="ni ni-tv-2 text-primary"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center  ml-md-auto ">
          <li class="nav-item">
            <a class="nav-link" href="/pakaian/:page">
              <i class="ni ni-bullet-list-67 text-primary"></i>
              <span class="nav-link-text text-primary">Clohes List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">
              <i class="ni ni-single-02 text-primary"></i>
              <span class="nav-link-text text-primary">Profile</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
          <li class="nav-item ">

            <div class="media align-items-center">
              <div class="media-body  ml-2  d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">DilaStore</span>
              </div>
            </div>
            </a>
      </div>
      </li>
      </ul>
  </div>
  </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->

    <!-- Header -->
    <!-- Header -->
    <div class="header bg-gradient-pink pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">
                      <%= title %>
                    </a></li>
                </ol>
              </nav>
            </div>
            <div class="container">
              <%- body %>
            </div>
            <!-- Argon Scripts -->
            <!-- Core -->
            <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
            <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
            <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
            <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
            <!-- Optional JS -->
            <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
            <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
            <!-- Argon JS -->
            <script src="/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>