<div class="container mt-3" style="margin-left: 150pt;">
    <div class="row ">
        <div class="col-md-8" >
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                          <li><%= error.msg %> </li> 
                        <% }) %>
                    </ul>
                  </div>
            <% } %>
            <div class="card" style="border: 3px double yellow;">
              <div class="card-header bg-gradient-pink text-white text-center">
                Form Tambah Data Pakaian
              </div>
              <div class="card-body">
            <form method="POST" action="/pakaian/:page">
              <div class="mb-3">
                <div class="input-group input-group-merge input-group-alternative">
                <input type="text" class="form-control" placeholder="kode" id="kode" name="kode" required>
              </div>
            </div>
                <div class="mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                  <input type="text" class="form-control"  placeholder="nama" id="nama" name="nama" required>
                </div>
              </div>
                <div class="mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                  <input type="text" class="form-control" placeholder="kategori" id="kategori" name="kategori" required>
                </div>
              </div>
                <div class="mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                  <input type="number" class="form-control" placeholder="harga" id="harga" name="harga" required>
                </div>
                </div>
                <div class=" mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                  <input type="number" placeholder="stok" class="form-control" id="stok" name="stok" required>
                  </div>
                </div>
                <div class="card-footer bg-gradient-pink text-white text-center">
                  <button type="submit" class="btn btn-secondary" style="border-radius: 20px; ">Add</button>
                </div>
        
              </form>
            </div>
          </div>
        </div>
    </div>
</div>  
